@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.mytest {
  position: fixed;
  z-index: 10;
  height: 80vh;
  width: 80vw;
  margin: 7%;
  @media(max-width:768px){
    top:20px;
  }
}

#title {
  /* font-size: 3.5rem; */
  color: white;
}
img {
  border-radius: 15px;
  border: 1px solid white;
  padding: 2px;
  max-width: 100;
  width: 80%;
  object-fit: "none";
}

.lineHeight {
  font-size: 1.6rem;
}


.hoverButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}

.hoverButtonText {
  position: absolute;
  color: red;
  text-align: center;
  user-select: none;
  width: 100%;
  padding: 3%;
}

.example {
  width: 80%;
  height: min-content;
  stroke: #bf4d00;
}
